body{
    font-family:arial
}

.clear {
    clear:both
}

#gallery {
    position:relative;
    height:360px;
   

}
a {
  
    position:absolute;
    width: 100%;
}

a img {
    border:none;
    width: 100%;
}

a.show {
    z-index:500

}

.caption {
    z-index:600; 
    background-color:#000; 
    color:#ffffff; 
    height:100px; 
    width:100%; 
    position:absolute;
    bottom:0;
}

.caption .content {
    margin:5px
}

.caption .content h3 {
    margin:0;
    padding:0;
    color:#1DCCEF;
}
